.editorContainer {
  margin: 1rem auto;
  width: 100%;
  height: 80vh;
  padding: 0 1rem;
  min-height: 50vh;
  height: auto;
  & h1 {
    text-align: center;
    font-weight: normal;
  }
}

.editor {
  border: 0.5px solid #333;
  margin: auto;
  width: 100%;
  min-height: 50vh;
  height: auto;
}
